
@font-face { font-family: OCRAEXT; src: url('src/Fonts/ocr-aregular.ttf'); }
@font-face { font-family: powerhouse; src: url('src/Fonts/Powerhouse\ Medium.ttf'); }

body {
    background-image: url("tausta.jpg");
    font-family: OCRAEXT;
    font-size: 20px;
    text-align: left;
    background-size:cover;
}

h1 {
    text-shadow: 0px 0px 5px rgb(0, 102, 255), 0px -5px 5px rgb(162, 0, 255);
    text-align: center;
}

p {
    font-family: OCRAEXT;
    font-size: 20px;
}

nav {
    background: linear-gradient(to bottom, rgb(2, 0, 128), rgb(98, 0, 110));
    font-size: 30px;
}

article {
    background-color: #272727;
    opacity: 0.9;
    padding: 60px;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 0%;
    border-style: groove;
    font-size: 40px;
    font-family: powerhouse;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1650px;
    margin: 0 auto;
}



article a {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

article a:hover {
    display: block;
    color:#0028ad;
    text-align: center;
    margin-bottom: 10px;
}

article a:active {
    display: block;
    color:#003cff;
    text-align: center;
    margin-bottom: 10px;
}

article img {
    display: block;
    margin: 0 auto;
}


div {
    text-align: center;
}

footer {
    position:static;
    top: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgb(2, 0, 128), rgb(98, 0, 110));
    text-align: center;
}

h1 {
    font-family: OCRAEXT
}

button {
    font-family: OCRAEXT;
    background-color: lightblue  ;
    font-style: italic;
    padding: 0.2%;
}

a {
    color: aqua;
    
}

#etusivu {  
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom: -10px;
    width: 120px;
    height: 30px;   
    background: navy;
    color: white;   
    font-size:14px;
    font-weight:700;
    border:#3b5657;
    border-radius: 10%;
    border-style: outset;
}

#etusivu:hover {
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom: -10px;
    width: 120px;
    height: 30px;   
    background: navy;   
    color: #00a7ad;   
    font-size:14px;
    font-weight:700;
    border:#3b5657;
    border-radius: 10%;
    border-style: inset;
}


